<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="kateindexviewplugin" library="kateindexviewplugin" version="3" translationDomain="kateindexview">
  <MenuBar>
    <Menu name="view">
      <text>&amp;Settings</text>
      <Separator/>
      <Action name="view_insert_indexview"/>
    </Menu>
  </MenuBar>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
