# general
install
build
*.rej
*.orig
*.out

# kate
*~
*-swp
# kate LSP plugin
.cache

# kdevelop
*.kdev4

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# from dolphin
.directory

# from Qt Creator (?)
*.autosave
